<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a [href]="url[0]">Web design</a></li>
            <li><a [href]="url[1]">Development</a></li>
            <li><a [href]="url[2]">Hosting</a></li>

          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a [href]="url[3]">Company</a></li>
            <li><a [href]="url[4]">Team</a></li>
            <li><a [href]="url[5]">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Google Company</h3>
          <p>Google được thành lập vào năm 1998 bởi Larry Page và Sergey Brin trong khi họ là nghiên cứu sinh đã có bằng
            tiến sĩ tại Đại học Stanford ở California. Họ cùng nhau sở hữu khoảng 14% cổ phần và kiểm soát 56% quyền
            biểu quyết của cổ đông thông qua cổ phiếu ưu đãi. Họ đã hợp nhất Google thành một công ty tư nhân vào ngày 4
            tháng 9 năm 1998. Một đợt chào bán công khai lần đầu (IPO) diễn ra vào ngày 19 tháng 8 năm 2004 và Google
            chuyển đến trụ sở chính tại Mountain View, California với tên Googleplex.</p>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
          class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i
          class="icon ion-social-instagram"></i></a></div>
      </div>
      <p class="copyright">Company Name © 2018</p>
    </div>
  </footer>
</div>
