h1{
    color: Black;
    font-family: "Times New Roman";
    text-indent: 20px;
}
p{
    color: Black;
    font-family: "Times New Roman";
    font-size: 20px;
    text-indent: 40px;
    text-align: justify;
}