<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Product</h1>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <div>
        <lable>Id</lable>
        <input type="text" th:field="*{id}">
    </div>
    <div>
        <lable>Name</lable>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <lable>Price</lable>
        <input type="text" th:field="*{price}">
    </div>
    <div>
        <lable>Amount</lable>
        <input type="text" th:field="*{amount}">
    </div>
    <input type="submit" value="Create">
    <a th:href="@{/product}">Back to product list</a>
</form>
</body>
</html>