<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/edit}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Name Author:</td>
            <td><input type="text" th:field="${blog.author}"/></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" th:field="${blog.date}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="${blog.content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>