<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customer/create">Create new customer</a>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <td>Type</td>
        <td colspan="2">Funtion</td>
    </tr>
    <th:block th:each="customer : ${customerList}">
        <tr>
            <td th:text="${customer.customer_id}"></td>
            <td th:text="${customer.customer_name}"></td>
            <td th:text="${customer.customer_birthday}"></td>
            <td th:text="${customer.customer_gender}"></td>
            <td th:text="${customer.customer_id_card}"></td>
            <td th:text="${customer.customer_phone}"></td>
            <td th:text="${customer.customer_email}"></td>
            <td th:text="${customer.customer_address}"></td>
            <td></td>
            <td><a th:href="@{/customer/edit/__${customer.customer_id}__}">Edit</a></td>
            <td><a th:href="@{/customer/delete/__${customer.customer_id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>